<a href="https://colab.research.google.com/github/Alvaroguijarro97/ML_Group_Project/blob/main/Data_Geography.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

# **Geographic Info of European Union Countries and German States**

In [2]:
# Upload the "worldcities.csv" file into the notebook and set it as a dataframe
from google.colab import files
uploaded = files.upload()

Saving worldcities.csv to worldcities.csv

In [3]:
#Read the World Cities Data Base and identify the needed columns
import io 
geography_data = pd.read_csv('worldcities.csv')
geography_data.info()
geography_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42905 entries, 0 to 42904
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        42905 non-null  object
 1   city_ascii  42905 non-null  object
 2   lat         42905 non-null  float64
 3   lng         42905 non-null  float64
 4   country     42905 non-null  object
 5   iso2        42873 non-null  object
 6   iso3        42905 non-null  object
 7   admin_name  42810 non-null  object
 8   capital     9812 non-null   object
 9   population  42180 non-null  float64
 10  id          42905 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 3.6+ MB

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,35362000.0,1360771077
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604
3,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23971000.0,1608618140
4,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22495000.0,1076532519

The "world cities" data set contains information of over 4 million unique cities and towns from every country in the world. The variables observed in the dataset represent the following: 


*   **city**: 	The name of the city/town as a Unicode string (e.g. Goiânia).
*   **city_ascii**: city as an ASCII string (e.g. Goiania). Left blank if ASCII representation is not possible
*   **lat**: The latitude of the city/town
*   **lng**: The longitude of the city/town.
*   **country**: 	The name of the city/town's country.
*   **iso2**:	The alpha-2 iso code of the country.
*   **iso3**: 	The alpha-3 iso code of the country.
*   **admin_name**: The name of the highest level administration region of the city town (e.g. a US state or Canadian province). Possibly blank.
*   **population**: An estimate of the city's urban population. Only available for some (prominent) cities. If the urban population is not available, the municipal population is used.
*   **id**: A 10-digit unique id generated by SimpleMaps.

More information regarding this dataset can be found in: https://simplemaps.com/data/world-cities

In [4]:
# Download the list of the EU countries
!pip install countrygroups
from countrygroups import EUROPEAN_UNION
EUROPEAN_UNION

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting countrygroups
  Downloading countrygroups-0.13.0-py2.py3-none-any.whl (9.6 kB)
Collecting shortcountrynames
  Downloading shortcountrynames-0.10.0-py2.py3-none-any.whl (8.9 kB)
Installing collected packages: shortcountrynames, countrygroups
Successfully installed countrygroups-0.13.0 shortcountrynames-0.10.0

['AUT',
 'BEL',
 'BGR',
 'CYP',
 'CZE',
 'DEU',
 'DNK',
 'ESP',
 'EST',
 'FIN',
 'FRA',
 'GRC',
 'HRV',
 'HUN',
 'IRL',
 'ITA',
 'LTU',
 'LUX',
 'LVA',
 'MLT',
 'NLD',
 'POL',
 'PRT',
 'ROU',
 'SVK',
 'SVN',
 'SWE']

In [5]:
# Create a dataset only containing EU countries and their cities
eu_countries = geography_data[geography_data.iso3.isin(EUROPEAN_UNION)]
eu_countries = eu_countries[(eu_countries.capital == 'admin') | (eu_countries.capital == 'primary')]
eu_countries.info()
eu_countries.sort_values(by='population', ascending = False).head(25)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 755 entries, 34 to 10095
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        755 non-null    object
 1   city_ascii  755 non-null    object
 2   lat         755 non-null    float64
 3   lng         755 non-null    float64
 4   country     755 non-null    object
 5   iso2        755 non-null    object
 6   iso3        755 non-null    object
 7   admin_name  752 non-null    object
 8   capital     755 non-null    object
 9   population  589 non-null    float64
 10  id          755 non-null    int64
dtypes: float64(3), int64(1), object(7)
memory usage: 70.8+ KB

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
34,Paris,Paris,48.8566,2.3522,France,FR,FRA,Île-de-France,primary,11027000.0,1250015082
102,Madrid,Madrid,40.4167,-3.7167,Spain,ES,ESP,Madrid,primary,6006000.0,1724616994
159,Barcelona,Barcelona,41.3825,2.1769,Spain,ES,ESP,Catalonia,admin,4735000.0,1724594040
210,Berlin,Berlin,52.5167,13.3833,Germany,DE,DEU,Berlin,primary,3664088.0,1276451290
271,Rome,Rome,41.8931,12.4828,Italy,IT,ITA,Lazio,primary,2872800.0,1380382862
392,Vienna,Vienna,48.2083,16.3725,Austria,AT,AUT,Wien,primary,1911191.0,1040261752
398,Bucharest,Bucharest,44.4000,26.0833,Romania,RO,ROU,Bucureşti,primary,1883425.0,1642414442
406,Hamburg,Hamburg,53.5500,10.0000,Germany,DE,DEU,Hamburg,admin,1852478.0,1276041799
415,Warsaw,Warsaw,52.2300,21.0111,Poland,PL,POL,Mazowieckie,primary,1790658.0,1616024847
421,Brussels,Brussels,50.8353,4.3314,Belgium,BE,BEL,Brussels-Capital Region,primary,1743000.0,1056469830
424,Budapest,Budapest,47.4983,19.0408,Hungary,HU,HUN,Budapest,primary,1723836.0,1348611435
482,Munich,Munich,48.1375,11.5750,Germany,DE,DEU,Bavaria,admin,1488202.0,1276692352
511,Milan,Milan,45.4669,9.1900,Italy,IT,ITA,Lombardy,admin,1366180.0,1380724377
519,Prague,Prague,50.0833,14.4167,Czechia,CZ,CZE,"Praha, Hlavní Město",primary,1335084.0,1203744823
544,Sofia,Sofia,42.6979,23.3217,Bulgaria,BG,BGR,Sofia-Grad,primary,1277411.0,1100762037
626,Copenhagen,Copenhagen,55.6805,12.5615,Denmark,DK,DNK,Hovedstaden,primary,1085000.0,1208763942
701,Stockholm,Stockholm,59.3294,18.0686,Sweden,SE,SWE,Stockholm,primary,975819.0,1752425602
868,Naples,Naples,40.8333,14.2500,Italy,IT,ITA,Campania,admin,966144.0,1380646673
929,Turin,Turin,45.0667,7.7000,Italy,IT,ITA,Piedmont,admin,870952.0,1380244627
937,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,868277.0,1250774071
708,Amsterdam,Amsterdam,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,1528355309
711,Zagreb,Zagreb,45.8131,15.9772,Croatia,HR,HRV,"Zagreb, Grad",primary,790017.0,1191233290
986,Valencia,Valencia,39.4700,-0.3764,Spain,ES,ESP,Valencia,admin,789744.0,1724981666
1000,Kraków,Krakow,50.0614,19.9372,Poland,PL,POL,Małopolskie,admin,766739.0,1616172264
1087,Łódź,Lodz,51.7769,19.4547,Poland,PL,POL,Łódzkie,admin,690422.0,1616832750

In [6]:
# Create dataset containing German cities, but only the capitals of the different german states. 
germany = geography_data[(geography_data.iso3 == 'DEU')] 
germany = germany[(germany.capital == 'admin') | (germany.city == 'Berlin')]
germany.info()
germany.sort_values(by=['city'], ascending = [True])
ger_capitals = germany[['city','lat','lng']].reset_index()
ger_capitals

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 210 to 5096
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        16 non-null     object
 1   city_ascii  16 non-null     object
 2   lat         16 non-null     float64
 3   lng         16 non-null     float64
 4   country     16 non-null     object
 5   iso2        16 non-null     object
 6   iso3        16 non-null     object
 7   admin_name  16 non-null     object
 8   capital     16 non-null     object
 9   population  16 non-null     float64
 10  id          16 non-null     int64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.5+ KB

    index         city      lat      lng
0     210       Berlin  52.5167  13.3833
1     406      Hamburg  53.5500  10.0000
2     482       Munich  48.1375  11.5750
3    1149   Düsseldorf  51.2311   6.7724
4    1171    Stuttgart  48.7761   9.1775
5    1275       Bremen  53.0769   8.8089
6    1293      Dresden  51.0500  13.7400
7    1314     Hannover  52.3744   9.7386
8    2194    Wiesbaden  50.0825   8.2400
9    2405         Kiel  54.3233  10.1394
10   2496    Magdeburg  52.1317  11.6392
11   2646        Mainz  50.0000   8.2667
12   2696       Erfurt  50.9781  11.0292
13   3059      Potsdam  52.4000  13.0667
14   3102  Saarbrücken  49.2333   7.0000
15   5096     Schwerin  53.6333  11.4167

In [39]:
def haversine_vectorize(lon1, lat1, lon2, lat2):

    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

52.5167

In [66]:
#Berlin 1
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Berlin_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Berlin'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Berlin'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Berlin_Distance["lat_ori"] = lat_ori
Berlin_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Berlin_Distance["Distance"] = haversine_vectorize(Berlin_Distance['lng'],Berlin_Distance['lat'],Berlin_Distance['long_ori'],Berlin_Distance['lat_ori'])
Berlin_Distance = Berlin_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Berlin_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Berlin,Germany,Berlin,52.5167,13.3833,52.5167,13.3833,0.000000
1,Potsdam,Germany,Brandenburg,52.4000,13.0667,52.5167,13.3833,25.055076
2,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,52.5167,13.3833,125.942582
3,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,52.5167,13.3833,127.796263
4,Gorzów Wielkopolski,Poland,Lubuskie,52.7333,15.2500,52.5167,13.3833,128.196374
5,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,52.5167,13.3833,158.002170
6,Dresden,Germany,Saxony,51.0500,13.7400,52.5167,13.3833,164.820966
7,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,52.5167,13.3833,180.635791
8,Ústí nad Labem,Czechia,Ústecký Kraj,50.6592,14.0417,52.5167,13.3833,211.358698
9,Liberec,Czechia,Liberecký Kraj,50.7700,15.0584,52.5167,13.3833,225.859455
10,Erfurt,Germany,Thuringia,50.9781,11.0292,52.5167,13.3833,235.486875
11,Poznań,Poland,Wielkopolskie,52.4083,16.9336,52.5167,13.3833,240.655193
12,Hannover,Germany,Lower Saxony,52.3744,9.7386,52.5167,13.3833,247.343855
13,Hamburg,Germany,Hamburg,53.5500,10.0000,52.5167,13.3833,253.541119
14,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,52.5167,13.3833,256.500460
15,Prague,Czechia,"Praha, Hlavní Město",50.0833,14.4167,52.5167,13.3833,279.773911
16,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,52.5167,13.3833,293.975111
17,Wrocław,Poland,Dolnośląskie,51.1100,17.0325,52.5167,13.3833,295.390271
18,Hradec Králové,Czechia,Královéhradecký Kraj,50.2092,15.8319,52.5167,13.3833,307.557282
19,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,52.5167,13.3833,308.405532

In [64]:
#Hamburg 2
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Hamburg_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Hamburg'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Hamburg'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Hamburg_Distance["lat_ori"] = lat_ori
Hamburg_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Hamburg_Distance["Distance"] = haversine_vectorize(Hamburg_Distance['lng'],Hamburg_Distance['lat'],Hamburg_Distance['long_ori'],Hamburg_Distance['lat_ori'])
Hamburg_Distance = Hamburg_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Hamburg_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Hamburg,Germany,Hamburg,53.5500,10.0000,53.55,10.0,0.000000
1,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,53.55,10.0,86.415504
2,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,53.55,10.0,93.896765
3,Bremen,Germany,Bremen,53.0769,8.8089,53.55,10.0,94.956922
4,Hannover,Germany,Lower Saxony,52.3744,9.7386,53.55,10.0,131.804928
5,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,53.55,10.0,192.203848
6,Groningen,Netherlands,Groningen,53.2167,6.5667,53.55,10.0,230.534937
7,Sorø,Denmark,Sjælland,55.4330,11.5667,53.55,10.0,232.386987
8,Assen,Netherlands,Drenthe,53.0000,6.5500,53.55,10.0,237.232983
9,Potsdam,Germany,Brandenburg,52.4000,13.0667,53.55,10.0,241.716820
10,Vejle,Denmark,Syddanmark,55.7090,9.5350,53.55,10.0,241.774997
11,Berlin,Germany,Berlin,52.5167,13.3833,53.55,10.0,253.541119
12,Leeuwarden,Netherlands,Fryslân,53.2000,5.7833,53.55,10.0,282.193638
13,Zwolle,Netherlands,Overijssel,52.5167,6.1000,53.55,10.0,284.742435
14,Copenhagen,Denmark,Hovedstaden,55.6805,12.5615,53.55,10.0,288.436020
15,Erfurt,Germany,Thuringia,50.9781,11.0292,53.55,10.0,294.240952
16,Malmö,Sweden,Skåne,55.5833,13.0333,53.55,10.0,298.679803
17,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,53.55,10.0,301.464114
18,Hillerød,Denmark,Hovedstaden,55.9333,12.3167,53.55,10.0,303.651279
19,Viborg,Denmark,Midtjylland,56.4333,9.4000,53.55,10.0,322.678818

In [62]:
#Munich 3
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Munich_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Munich'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Munich'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Munich_Distance["lat_ori"] = lat_ori
Munich_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Munich_Distance["Distance"] = haversine_vectorize(Munich_Distance['lng'],
                                                  Munich_Distance['lat'],
                                                  Munich_Distance['long_ori'],
                                                  Munich_Distance['lat_ori'])
Munich_Distance = Munich_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Munich_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Munich,Germany,Bavaria,48.1375,11.5750,48.1375,11.575,0.000000
1,Innsbruck,Austria,Tirol,47.2683,11.3933,48.1375,11.575,97.540989
2,Salzburg,Austria,Salzburg,47.7972,13.0477,48.1375,11.575,115.914732
3,Bregenz,Austria,Vorarlberg,47.5050,9.7492,48.1375,11.575,153.288596
4,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,48.1375,11.575,190.394954
5,Linz,Austria,Oberösterreich,48.3000,14.2833,48.1375,11.575,201.327050
6,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,48.1375,11.575,221.737829
7,České Budějovice,Czechia,Jihočeský Kraj,48.9747,14.4747,48.1375,11.575,232.667153
8,Trento,Italy,Trentino-Alto Adige,46.0667,11.1167,48.1375,11.575,232.713215
9,Kranjska Gora,Slovenia,Kranjska Gora,46.4839,13.7894,48.1375,11.575,248.179318
10,Bovec,Slovenia,Bovec,46.3378,13.5522,48.1375,11.575,249.482559
11,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,48.1375,11.575,250.953359
12,Kobarid,Slovenia,Kobarid,46.2471,13.5796,48.1375,11.575,258.908581
13,Klagenfurt,Austria,Kärnten,46.6167,14.3000,48.1375,11.575,265.695172
14,Jesenice,Slovenia,Jesenice,46.4366,14.0602,48.1375,11.575,266.091047
15,Tolmin,Slovenia,Tolmin,46.1864,13.7361,48.1375,11.575,271.400962
16,Zgornje Gorje,Slovenia,Gorje,46.3833,14.0833,48.1375,11.575,271.604346
17,Bohinjska Bistrica,Slovenia,Bohinj,46.2769,13.9550,48.1375,11.575,273.891343
18,Bled,Slovenia,Bled,46.3667,14.1167,48.1375,11.575,274.702801
19,Kanal,Slovenia,Kanal,46.0886,13.6397,48.1375,11.575,276.059305

In [69]:
#Düsseldorf 4
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Düsseldorf_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Düsseldorf'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Düsseldorf'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Düsseldorf_Distance["lat_ori"] = lat_ori
Düsseldorf_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Düsseldorf_Distance["Distance"] = haversine_vectorize(Düsseldorf_Distance['lng'],
                                                  Düsseldorf_Distance['lat'],
                                                  Düsseldorf_Distance['long_ori'],
                                                  Düsseldorf_Distance['lat_ori'])
Düsseldorf_Distance = Düsseldorf_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Düsseldorf_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,51.2311,6.7724,0.000000
1,Maastricht,Netherlands,Limburg,50.8667,5.6833,51.2311,6.7724,86.187774
2,Arnhem,Netherlands,Gelderland,51.9833,5.9167,51.2311,6.7724,102.343637
3,’s-Hertogenbosch,Netherlands,Noord-Brabant,51.6833,5.3167,51.2311,6.7724,112.624330
4,Clervaux,Luxembourg,Clervaux,50.0547,6.0314,51.2311,6.7724,140.769022
5,Utrecht,Netherlands,Utrecht,52.0889,5.1156,51.2311,6.7724,148.756081
6,Vianden,Luxembourg,Vianden,49.9350,6.2089,51.2311,6.7724,149.415364
7,Zwolle,Netherlands,Overijssel,52.5167,6.1000,51.2311,6.7724,150.124292
8,Wiltz,Luxembourg,Wiltz,49.9689,5.9319,51.2311,6.7724,152.273675
9,Diekirch,Luxembourg,Diekirch,49.8678,6.1558,51.2311,6.7724,157.627362
10,Namur,Belgium,Wallonia,50.4667,4.8667,51.2311,6.7724,158.398799
11,Echternach,Luxembourg,Echternach,49.8117,6.4217,51.2311,6.7724,159.664739
12,Wiesbaden,Germany,Hesse,50.0825,8.2400,51.2311,6.7724,164.252924
13,Lelystad,Netherlands,Flevoland,52.5167,5.4833,51.2311,6.7724,168.016781
14,Mersch,Luxembourg,Mersch,49.7489,6.1061,51.2311,6.7724,171.311534
15,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,51.2311,6.7724,172.670116
16,Redange-sur-Attert,Luxembourg,Redange,49.7656,5.8908,51.2311,6.7724,174.366416
17,Grevenmacher,Luxembourg,Grevenmacher,49.6747,6.4419,51.2311,6.7724,174.528294
18,Brussels,Belgium,Brussels-Capital Region,50.8353,4.3314,51.2311,6.7724,176.154674
19,Amsterdam,Netherlands,Noord-Holland,52.3667,4.8833,51.2311,6.7724,181.038131

In [75]:
#Stuttgart 5
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Stuttgart_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Stuttgart'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Stuttgart'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Stuttgart_Distance["lat_ori"] = lat_ori
Stuttgart_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Stuttgart_Distance["Distance"] = haversine_vectorize(Stuttgart_Distance['lng'],
                                                  Stuttgart_Distance['lat'],
                                                  Stuttgart_Distance['long_ori'],
                                                  Stuttgart_Distance['lat_ori'])
Stuttgart_Distance = Stuttgart_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Stuttgart_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,48.7761,9.1775,0.000000
1,Strasbourg,France,Grand Est,48.5833,7.7458,48.7761,9.1775,107.208025
2,Bregenz,Austria,Vorarlberg,47.5050,9.7492,48.7761,9.1775,147.474684
3,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,48.7761,9.1775,151.120069
4,Wiesbaden,Germany,Hesse,50.0825,8.2400,48.7761,9.1775,160.204226
5,Saarbrücken,Germany,Saarland,49.2333,7.0000,48.7761,9.1775,166.660295
6,Munich,Germany,Bavaria,48.1375,11.5750,48.7761,9.1775,190.394954
7,Remich,Luxembourg,Remich,49.5444,6.3667,48.7761,9.1775,221.367609
8,Grevenmacher,Luxembourg,Grevenmacher,49.6747,6.4419,48.7761,9.1775,222.213278
9,Echternach,Luxembourg,Echternach,49.8117,6.4217,48.7761,9.1775,230.483860
10,Innsbruck,Austria,Tirol,47.2683,11.3933,48.7761,9.1775,234.921240
11,Luxembourg,Luxembourg,Luxembourg,49.6106,6.1328,48.7761,9.1775,239.746064
12,Esch-sur-Alzette,Luxembourg,Esch-sur-Alzette,49.4969,5.9806,48.7761,9.1775,245.820451
13,Mersch,Luxembourg,Mersch,49.7489,6.1061,48.7761,9.1775,247.558081
14,Diekirch,Luxembourg,Diekirch,49.8678,6.1558,48.7761,9.1775,250.214073
15,Vianden,Luxembourg,Vianden,49.9350,6.2089,48.7761,9.1775,250.484755
16,Capellen,Luxembourg,Capellen,49.6444,5.9897,48.7761,9.1775,250.706463
17,Redange-sur-Attert,Luxembourg,Redange,49.7656,5.8908,48.7761,9.1775,262.424068
18,Clervaux,Luxembourg,Clervaux,50.0547,6.0314,48.7761,9.1775,268.144397
19,Wiltz,Luxembourg,Wiltz,49.9689,5.9319,48.7761,9.1775,269.634763

In [82]:
#Bremen 6
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Bremen_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Bremen'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Bremen'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Bremen_Distance["lat_ori"] = lat_ori
Bremen_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Bremen_Distance["Distance"] = haversine_vectorize(Bremen_Distance['lng'],
                                                  Bremen_Distance['lat'],
                                                  Bremen_Distance['long_ori'],
                                                  Bremen_Distance['lat_ori'])
Bremen_Distance = Bremen_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Bremen_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Bremen,Germany,Bremen,53.0769,8.8089,53.0769,8.8089,0.000000
1,Hamburg,Germany,Hamburg,53.5500,10.0000,53.0769,8.8089,94.956922
2,Hannover,Germany,Lower Saxony,52.3744,9.7386,53.0769,8.8089,100.044063
3,Groningen,Netherlands,Groningen,53.2167,6.5667,53.0769,8.8089,150.239758
4,Assen,Netherlands,Drenthe,53.0000,6.5500,53.0769,8.8089,151.168770
5,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,53.0769,8.8089,163.839311
6,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,53.0769,8.8089,183.669513
7,Zwolle,Netherlands,Overijssel,52.5167,6.1000,53.0769,8.8089,192.350901
8,Leeuwarden,Netherlands,Fryslân,53.2000,5.7833,53.0769,8.8089,202.141045
9,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,53.0769,8.8089,217.963509
10,Arnhem,Netherlands,Gelderland,51.9833,5.9167,53.0769,8.8089,230.183324
11,Lelystad,Netherlands,Flevoland,52.5167,5.4833,53.0769,8.8089,231.935755
12,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,53.0769,8.8089,247.668467
13,Utrecht,Netherlands,Utrecht,52.0889,5.1156,53.0769,8.8089,272.432226
14,Amsterdam,Netherlands,Noord-Holland,52.3667,4.8833,53.0769,8.8089,275.713424
15,Erfurt,Germany,Thuringia,50.9781,11.0292,53.0769,8.8089,278.253497
16,’s-Hertogenbosch,Netherlands,Noord-Brabant,51.6833,5.3167,53.0769,8.8089,282.967165
17,Haarlem,Netherlands,Noord-Holland,52.3803,4.6406,53.0769,8.8089,290.948522
18,Potsdam,Germany,Brandenburg,52.4000,13.0667,53.0769,8.8089,296.130536
19,Vejle,Denmark,Syddanmark,55.7090,9.5350,53.0769,8.8089,296.236561

In [92]:
#Dresden 7
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Dresden_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Dresden'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Dresden'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Dresden_Distance["lat_ori"] = lat_ori
Dresden_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Dresden_Distance["Distance"] = haversine_vectorize(Dresden_Distance['lng'],
                                                  Dresden_Distance['lat'],
                                                  Dresden_Distance['long_ori'],
                                                  Dresden_Distance['lat_ori'])
Dresden_Distance = Dresden_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Dresden_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Dresden,Germany,Saxony,51.0500,13.7400,51.05,13.74,0.000000
1,Ústí nad Labem,Czechia,Ústecký Kraj,50.6592,14.0417,51.05,13.74,48.310543
2,Liberec,Czechia,Liberecký Kraj,50.7700,15.0584,51.05,13.74,97.476490
3,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,51.05,13.74,109.674213
4,Prague,Czechia,"Praha, Hlavní Město",50.0833,14.4167,51.05,13.74,117.563571
5,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,51.05,13.74,147.606615
6,Potsdam,Germany,Brandenburg,52.4000,13.0667,51.05,13.74,157.013003
7,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,51.05,13.74,157.110127
8,Berlin,Germany,Berlin,52.5167,13.3833,51.05,13.74,164.820966
9,Hradec Králové,Czechia,Královéhradecký Kraj,50.2092,15.8319,51.05,13.74,174.557410
10,Pardubice,Czechia,Pardubický Kraj,50.0386,15.7792,51.05,13.74,182.660627
11,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,51.05,13.74,188.360667
12,Erfurt,Germany,Thuringia,50.9781,11.0292,51.05,13.74,189.675385
13,Gorzów Wielkopolski,Poland,Lubuskie,52.7333,15.2500,51.05,13.74,213.797710
14,Jihlava,Czechia,Vysočina,49.4003,15.5906,51.05,13.74,225.632966
15,Wrocław,Poland,Dolnośląskie,51.1100,17.0325,51.05,13.74,229.935634
16,České Budějovice,Czechia,Jihočeský Kraj,48.9747,14.4747,51.05,13.74,236.507326
17,Poznań,Poland,Wielkopolskie,52.4083,16.9336,51.05,13.74,266.607041
18,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,51.05,13.74,269.653438
19,Brno,Czechia,Jihomoravský Kraj,49.1953,16.6083,51.05,13.74,290.201533

In [96]:
#Hannover 8
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Hannover_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Hannover'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Hannover'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Hannover_Distance["lat_ori"] = lat_ori
Hannover_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Hannover_Distance["Distance"] = haversine_vectorize(Hannover_Distance['lng'],
                                                  Hannover_Distance['lat'],
                                                  Hannover_Distance['long_ori'],
                                                  Hannover_Distance['lat_ori'])
Hannover_Distance = Hannover_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Hannover_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Hannover,Germany,Lower Saxony,52.3744,9.7386,52.3744,9.7386,0.000000
1,Bremen,Germany,Bremen,53.0769,8.8089,52.3744,9.7386,100.044063
2,Hamburg,Germany,Hamburg,53.5500,10.0000,52.3744,9.7386,131.804928
3,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,52.3744,9.7386,132.072847
4,Erfurt,Germany,Thuringia,50.9781,11.0292,52.3744,9.7386,178.837003
5,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,52.3744,9.7386,179.330343
6,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,52.3744,9.7386,218.196591
7,Potsdam,Germany,Brandenburg,52.4000,13.0667,52.3744,9.7386,225.716793
8,Assen,Netherlands,Drenthe,53.0000,6.5500,52.3744,9.7386,225.732677
9,Groningen,Netherlands,Groningen,53.2167,6.5667,52.3744,9.7386,232.750623
10,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,52.3744,9.7386,240.152365
11,Zwolle,Netherlands,Overijssel,52.5167,6.1000,52.3744,9.7386,246.931665
12,Berlin,Germany,Berlin,52.5167,13.3833,52.3744,9.7386,247.343855
13,Arnhem,Netherlands,Gelderland,51.9833,5.9167,52.3744,9.7386,263.999853
14,Wiesbaden,Germany,Hesse,50.0825,8.2400,52.3744,9.7386,275.195616
15,Leeuwarden,Netherlands,Fryslân,53.2000,5.7833,52.3744,9.7386,281.161496
16,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,52.3744,9.7386,283.056560
17,Lelystad,Netherlands,Flevoland,52.5167,5.4833,52.3744,9.7386,288.613267
18,’s-Hertogenbosch,Netherlands,Noord-Brabant,51.6833,5.3167,52.3744,9.7386,311.877308
19,Dresden,Germany,Saxony,51.0500,13.7400,52.3744,9.7386,312.297322

In [98]:
#Wiesbaden 9
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Wiesbaden_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Wiesbaden'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Wiesbaden'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Wiesbaden_Distance["lat_ori"] = lat_ori
Wiesbaden_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Wiesbaden_Distance["Distance"] = haversine_vectorize(Wiesbaden_Distance['lng'],
                                                  Wiesbaden_Distance['lat'],
                                                  Wiesbaden_Distance['long_ori'],
                                                  Wiesbaden_Distance['lat_ori'])
Wiesbaden_Distance = Wiesbaden_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Wiesbaden_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Wiesbaden,Germany,Hesse,50.0825,8.2400,50.0825,8.24,0.000000
1,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,50.0825,8.24,9.363762
2,Saarbrücken,Germany,Saarland,49.2333,7.0000,50.0825,8.24,129.850774
3,Echternach,Luxembourg,Echternach,49.8117,6.4217,50.0825,8.24,133.456911
4,Grevenmacher,Luxembourg,Grevenmacher,49.6747,6.4419,50.0825,8.24,136.499508
5,Vianden,Luxembourg,Vianden,49.9350,6.2089,50.0825,8.24,145.973252
6,Remich,Luxembourg,Remich,49.5444,6.3667,50.0825,8.24,147.030625
7,Diekirch,Luxembourg,Diekirch,49.8678,6.1558,50.0825,8.24,150.844512
8,Mersch,Luxembourg,Mersch,49.7489,6.1061,50.0825,8.24,157.120908
9,Clervaux,Luxembourg,Clervaux,50.0547,6.0314,50.0825,8.24,157.559286
10,Luxembourg,Luxembourg,Luxembourg,49.6106,6.1328,50.0825,8.24,159.836859
11,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,50.0825,8.24,160.204226
12,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,50.0825,8.24,164.252924
13,Wiltz,Luxembourg,Wiltz,49.9689,5.9319,50.0825,8.24,165.255264
14,Capellen,Luxembourg,Capellen,49.6444,5.9897,50.0825,8.24,168.378233
15,Strasbourg,France,Grand Est,48.5833,7.7458,50.0825,8.24,170.398239
16,Redange-sur-Attert,Luxembourg,Redange,49.7656,5.8908,50.0825,8.24,171.709847
17,Esch-sur-Alzette,Luxembourg,Esch-sur-Alzette,49.4969,5.9806,50.0825,8.24,174.659248
18,Maastricht,Netherlands,Limburg,50.8667,5.6833,50.0825,8.24,200.704847
19,Erfurt,Germany,Thuringia,50.9781,11.0292,50.0825,8.24,220.715571

In [101]:
#Kiel 10
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Kiel_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Kiel'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Kiel'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Kiel_Distance["lat_ori"] = lat_ori
Kiel_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Kiel_Distance["Distance"] = haversine_vectorize(Kiel_Distance['lng'],
                                                  Kiel_Distance['lat'],
                                                  Kiel_Distance['long_ori'],
                                                  Kiel_Distance['lat_ori'])
Kiel_Distance = Kiel_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Kiel_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,54.3233,10.1394,0.000000
1,Hamburg,Germany,Hamburg,53.5500,10.0000,54.3233,10.1394,86.415504
2,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,54.3233,10.1394,113.341879
3,Sorø,Denmark,Sjælland,55.4330,11.5667,54.3233,10.1394,153.398937
4,Vejle,Denmark,Syddanmark,55.7090,9.5350,54.3233,10.1394,158.726387
5,Bremen,Germany,Bremen,53.0769,8.8089,54.3233,10.1394,163.839311
6,Copenhagen,Denmark,Hovedstaden,55.6805,12.5615,54.3233,10.1394,215.795003
7,Hannover,Germany,Lower Saxony,52.3744,9.7386,54.3233,10.1394,218.196591
8,Hillerød,Denmark,Hovedstaden,55.9333,12.3167,54.3233,10.1394,226.130642
9,Malmö,Sweden,Skåne,55.5833,13.0333,54.3233,10.1394,231.716797
10,Viborg,Denmark,Midtjylland,56.4333,9.4000,54.3233,10.1394,239.072244
11,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,54.3233,10.1394,263.171152
12,Groningen,Netherlands,Groningen,53.2167,6.5667,54.3233,10.1394,264.874859
13,Assen,Netherlands,Drenthe,53.0000,6.5500,54.3233,10.1394,278.314263
14,Potsdam,Germany,Brandenburg,52.4000,13.0667,54.3233,10.1394,288.679007
15,Berlin,Germany,Berlin,52.5167,13.3833,54.3233,10.1394,293.975111
16,Aalborg,Denmark,Nordjylland,57.0337,9.9166,54.3233,10.1394,301.516393
17,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,54.3233,10.1394,305.994436
18,Leeuwarden,Netherlands,Fryslân,53.2000,5.7833,54.3233,10.1394,312.129316
19,Halmstad,Sweden,Halland,56.6754,12.8587,54.3233,10.1394,312.378304

In [103]:
#Magdeburg 11
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Magdeburg_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Magdeburg'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Magdeburg'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Magdeburg_Distance["lat_ori"] = lat_ori
Magdeburg_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Magdeburg_Distance["Distance"] = haversine_vectorize(Magdeburg_Distance['lng'],
                                                  Magdeburg_Distance['lat'],
                                                  Magdeburg_Distance['long_ori'],
                                                  Magdeburg_Distance['lat_ori'])
Magdeburg_Distance = Magdeburg_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Magdeburg_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,52.1317,11.6392,0.000000
1,Potsdam,Germany,Brandenburg,52.4000,13.0667,52.1317,11.6392,101.555071
2,Berlin,Germany,Berlin,52.5167,13.3833,52.1317,11.6392,125.942582
3,Hannover,Germany,Lower Saxony,52.3744,9.7386,52.1317,11.6392,132.072847
4,Erfurt,Germany,Thuringia,50.9781,11.0292,52.1317,11.6392,134.943351
5,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,52.1317,11.6392,167.530977
6,Dresden,Germany,Saxony,51.0500,13.7400,52.1317,11.6392,188.360667
7,Hamburg,Germany,Hamburg,53.5500,10.0000,52.1317,11.6392,192.203848
8,Bremen,Germany,Bremen,53.0769,8.8089,52.1317,11.6392,217.963509
9,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,52.1317,11.6392,228.051696
10,Ústí nad Labem,Czechia,Ústecký Kraj,50.6592,14.0417,52.1317,11.6392,233.479388
11,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,52.1317,11.6392,243.009617
12,Gorzów Wielkopolski,Poland,Lubuskie,52.7333,15.2500,52.1317,11.6392,253.579585
13,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,52.1317,11.6392,263.171152
14,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,52.1317,11.6392,265.097576
15,Liberec,Czechia,Liberecký Kraj,50.7700,15.0584,52.1317,11.6392,280.961428
16,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,52.1317,11.6392,292.312158
17,Prague,Czechia,"Praha, Hlavní Město",50.0833,14.4167,52.1317,11.6392,298.901713
18,Wiesbaden,Germany,Hesse,50.0825,8.2400,52.1317,11.6392,328.725396
19,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,52.1317,11.6392,333.970939

In [106]:
#Mainz 12
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Mainz_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Mainz'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Mainz'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Mainz_Distance["lat_ori"] = lat_ori
Mainz_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Mainz_Distance["Distance"] = haversine_vectorize(Mainz_Distance['lng'],
                                                  Mainz_Distance['lat'],
                                                  Mainz_Distance['long_ori'],
                                                  Mainz_Distance['lat_ori'])
Mainz_Distance = Mainz_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Mainz_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,50.0,8.2667,0.000000
1,Wiesbaden,Germany,Hesse,50.0825,8.2400,50.0,8.2667,9.363762
2,Saarbrücken,Germany,Saarland,49.2333,7.0000,50.0,8.2667,124.801886
3,Echternach,Luxembourg,Echternach,49.8117,6.4217,50.0,8.2667,133.690031
4,Grevenmacher,Luxembourg,Grevenmacher,49.6747,6.4419,50.0,8.2667,135.685473
5,Remich,Luxembourg,Remich,49.5444,6.3667,50.0,8.2667,145.449119
6,Vianden,Luxembourg,Vianden,49.9350,6.2089,50.0,8.2667,147.260256
7,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,50.0,8.2667,151.120069
8,Diekirch,Luxembourg,Diekirch,49.8678,6.1558,50.0,8.2667,151.696315
9,Mersch,Luxembourg,Mersch,49.7489,6.1061,50.0,8.2667,157.223892
10,Luxembourg,Luxembourg,Luxembourg,49.6106,6.1328,50.0,8.2667,159.034076
11,Clervaux,Luxembourg,Clervaux,50.0547,6.0314,50.0,8.2667,159.686043
12,Strasbourg,France,Grand Est,48.5833,7.7458,50.0,8.2667,161.893273
13,Wiltz,Luxembourg,Wiltz,49.9689,5.9319,50.0,8.2667,166.857353
14,Capellen,Luxembourg,Capellen,49.6444,5.9897,50.0,8.2667,167.953688
15,Redange-sur-Attert,Luxembourg,Redange,49.7656,5.8908,50.0,8.2667,172.098410
16,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,50.0,8.2667,172.670116
17,Esch-sur-Alzette,Luxembourg,Esch-sur-Alzette,49.4969,5.9806,50.0,8.2667,173.399481
18,Maastricht,Netherlands,Limburg,50.8667,5.6833,50.0,8.2667,206.659633
19,Erfurt,Germany,Thuringia,50.9781,11.0292,50.0,8.2667,223.496386

In [110]:
#Erfurt 13
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Erfurt_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Erfurt'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Erfurt'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Erfurt_Distance["lat_ori"] = lat_ori
Erfurt_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Erfurt_Distance["Distance"] = haversine_vectorize(Erfurt_Distance['lng'],
                                                  Erfurt_Distance['lat'],
                                                  Erfurt_Distance['long_ori'],
                                                  Erfurt_Distance['lat_ori'])
Erfurt_Distance = Erfurt_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Erfurt_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Erfurt,Germany,Thuringia,50.9781,11.0292,50.9781,11.0292,0.000000
1,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,50.9781,11.0292,134.943351
2,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,50.9781,11.0292,154.268877
3,Hannover,Germany,Lower Saxony,52.3744,9.7386,50.9781,11.0292,178.837003
4,Dresden,Germany,Saxony,51.0500,13.7400,50.9781,11.0292,189.675385
5,Potsdam,Germany,Brandenburg,52.4000,13.0667,50.9781,11.0292,211.332264
6,Ústí nad Labem,Czechia,Ústecký Kraj,50.6592,14.0417,50.9781,11.0292,214.428917
7,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,50.9781,11.0292,216.130222
8,Wiesbaden,Germany,Hesse,50.0825,8.2400,50.9781,11.0292,220.715571
9,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,50.9781,11.0292,223.496386
10,Berlin,Germany,Berlin,52.5167,13.3833,50.9781,11.0292,235.486875
11,Prague,Czechia,"Praha, Hlavní Město",50.0833,14.4167,50.9781,11.0292,259.093452
12,Bremen,Germany,Bremen,53.0769,8.8089,50.9781,11.0292,278.253497
13,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,50.9781,11.0292,278.295897
14,Liberec,Czechia,Liberecký Kraj,50.7700,15.0584,50.9781,11.0292,283.448484
15,Hamburg,Germany,Hamburg,53.5500,10.0000,50.9781,11.0292,294.240952
16,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,50.9781,11.0292,296.230564
17,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,50.9781,11.0292,298.305532
18,Munich,Germany,Bavaria,48.1375,11.5750,50.9781,11.0292,318.101871
19,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,50.9781,11.0292,327.742007

In [113]:
#Potsdam 14
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Potsdam_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Potsdam'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Potsdam'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Potsdam_Distance["lat_ori"] = lat_ori
Potsdam_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Potsdam_Distance["Distance"] = haversine_vectorize(Potsdam_Distance['lng'],
                                                  Potsdam_Distance['lat'],
                                                  Potsdam_Distance['long_ori'],
                                                  Potsdam_Distance['lat_ori'])
Potsdam_Distance = Potsdam_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Potsdam_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Potsdam,Germany,Brandenburg,52.4000,13.0667,52.4,13.0667,0.000000
1,Berlin,Germany,Berlin,52.5167,13.3833,52.4,13.0667,25.055076
2,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,52.4,13.0667,101.555071
3,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,52.4,13.0667,151.378162
4,Gorzów Wielkopolski,Poland,Lubuskie,52.7333,15.2500,52.4,13.0667,152.046608
5,Dresden,Germany,Saxony,51.0500,13.7400,52.4,13.0667,157.013003
6,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,52.4,13.0667,173.867621
7,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,52.4,13.0667,175.915806
8,Ústí nad Labem,Czechia,Ústecký Kraj,50.6592,14.0417,52.4,13.0667,204.848180
9,Erfurt,Germany,Thuringia,50.9781,11.0292,52.4,13.0667,211.332264
10,Hannover,Germany,Lower Saxony,52.3744,9.7386,52.4,13.0667,225.716793
11,Liberec,Czechia,Liberecký Kraj,50.7700,15.0584,52.4,13.0667,227.405968
12,Karlovy Vary,Czechia,Karlovarský Kraj,50.2306,12.8725,52.4,13.0667,241.451624
13,Hamburg,Germany,Hamburg,53.5500,10.0000,52.4,13.0667,241.716820
14,Poznań,Poland,Wielkopolskie,52.4083,16.9336,52.4,13.0667,262.131017
15,Prague,Czechia,"Praha, Hlavní Město",50.0833,14.4167,52.4,13.0667,274.026670
16,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,52.4,13.0667,288.679007
17,Bremen,Germany,Bremen,53.0769,8.8089,52.4,13.0667,296.130536
18,Plzeň,Czechia,Plzeňský Kraj,49.7414,13.3825,52.4,13.0667,296.258205
19,Wrocław,Poland,Dolnośląskie,51.1100,17.0325,52.4,13.0667,308.115656

In [117]:
#Saarbrücken 15
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Saarbrücken_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Saarbrücken'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Saarbrücken'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Saarbrücken_Distance["lat_ori"] = lat_ori
Saarbrücken_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Saarbrücken_Distance["Distance"] = haversine_vectorize(Saarbrücken_Distance['lng'],
                                                  Saarbrücken_Distance['lat'],
                                                  Saarbrücken_Distance['long_ori'],
                                                  Saarbrücken_Distance['lat_ori'])
Saarbrücken_Distance = Saarbrücken_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Saarbrücken_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Saarbrücken,Germany,Saarland,49.2333,7.0000,49.2333,7.0,0.000000
1,Remich,Luxembourg,Remich,49.5444,6.3667,49.2333,7.0,57.389719
2,Grevenmacher,Luxembourg,Grevenmacher,49.6747,6.4419,49.2333,7.0,63.492431
3,Luxembourg,Luxembourg,Luxembourg,49.6106,6.1328,49.2333,7.0,75.414069
4,Echternach,Luxembourg,Echternach,49.8117,6.4217,49.2333,7.0,76.625357
5,Esch-sur-Alzette,Luxembourg,Esch-sur-Alzette,49.4969,5.9806,49.2333,7.0,79.374644
6,Capellen,Luxembourg,Capellen,49.6444,5.9897,49.2333,7.0,86.118715
7,Mersch,Luxembourg,Mersch,49.7489,6.1061,49.2333,7.0,86.290560
8,Strasbourg,France,Grand Est,48.5833,7.7458,49.2333,7.0,90.467761
9,Diekirch,Luxembourg,Diekirch,49.8678,6.1558,49.2333,7.0,93.142728
10,Vianden,Luxembourg,Vianden,49.9350,6.2089,49.2333,7.0,96.584546
11,Redange-sur-Attert,Luxembourg,Redange,49.7656,5.8908,49.2333,7.0,99.533383
12,Wiltz,Luxembourg,Wiltz,49.9689,5.9319,49.2333,7.0,112.245354
13,Clervaux,Luxembourg,Clervaux,50.0547,6.0314,49.2333,7.0,114.843410
14,Mainz,Germany,Rhineland-Palatinate,50.0000,8.2667,49.2333,7.0,124.801886
15,Wiesbaden,Germany,Hesse,50.0825,8.2400,49.2333,7.0,129.850774
16,Stuttgart,Germany,Baden-Württemberg,48.7761,9.1775,49.2333,7.0,166.660295
17,Maastricht,Netherlands,Limburg,50.8667,5.6833,49.2333,7.0,204.378224
18,Namur,Belgium,Wallonia,50.4667,4.8667,49.2333,7.0,205.291616
19,Düsseldorf,Germany,North Rhine-Westphalia,51.2311,6.7724,49.2333,7.0,222.594171

In [119]:
#Schwerin 16
#Create a Dataframe for each German State Capital City and calculate the distance between every European state Capital
Schwerin_Distance = eu_countries[['city','country','admin_name','lat','lng']].copy().reset_index(drop='True')

#Get the coordinates of the German State Capital City
long_ori = germany[germany['city'] == 'Schwerin'][['lng']]
long_ori= long_ori['lng'].iat[0]
lat_ori = germany[germany['city'] == 'Schwerin'][['lat']]
lat_ori= lat_ori['lat'].iat[0]
Schwerin_Distance["lat_ori"] = lat_ori
Schwerin_Distance["long_ori"] = long_ori
#Calculate the distance between cities
Schwerin_Distance["Distance"] = haversine_vectorize(Schwerin_Distance['lng'],
                                                  Schwerin_Distance['lat'],
                                                  Schwerin_Distance['long_ori'],
                                                  Schwerin_Distance['lat_ori'])
Schwerin_Distance = Schwerin_Distance.sort_values(by = 'Distance').reset_index(drop='True')
Schwerin_Distance.head(20)

,city,country,admin_name,lat,lng,lat_ori,long_ori,Distance
0,Schwerin,Germany,Mecklenburg-Western Pomerania,53.6333,11.4167,53.6333,11.4167,0.000000
1,Hamburg,Germany,Hamburg,53.5500,10.0000,53.6333,11.4167,93.896765
2,Kiel,Germany,Schleswig-Holstein,54.3233,10.1394,53.6333,11.4167,113.341879
3,Magdeburg,Germany,Saxony-Anhalt,52.1317,11.6392,53.6333,11.4167,167.530977
4,Potsdam,Germany,Brandenburg,52.4000,13.0667,53.6333,11.4167,175.915806
5,Hannover,Germany,Lower Saxony,52.3744,9.7386,53.6333,11.4167,179.330343
6,Berlin,Germany,Berlin,52.5167,13.3833,53.6333,11.4167,180.635791
7,Bremen,Germany,Bremen,53.0769,8.8089,53.6333,11.4167,183.669513
8,Sorø,Denmark,Sjælland,55.4330,11.5667,53.6333,11.4167,200.225464
9,Szczecin,Poland,Zachodniopomorskie,53.4247,14.5553,53.6333,11.4167,208.593256
10,Copenhagen,Denmark,Hovedstaden,55.6805,12.5615,53.6333,11.4167,239.093295
11,Malmö,Sweden,Skåne,55.5833,13.0333,53.6333,11.4167,240.361456
12,Vejle,Denmark,Syddanmark,55.7090,9.5350,53.6333,11.4167,260.411905
13,Hillerød,Denmark,Hovedstaden,55.9333,12.3167,53.6333,11.4167,262.008106
14,Gorzów Wielkopolski,Poland,Lubuskie,52.7333,15.2500,53.6333,11.4167,274.118046
15,Erfurt,Germany,Thuringia,50.9781,11.0292,53.6333,11.4167,296.230564
16,Groningen,Netherlands,Groningen,53.2167,6.5667,53.6333,11.4167,324.404491
17,Dresden,Germany,Saxony,51.0500,13.7400,53.6333,11.4167,327.507596
18,Assen,Netherlands,Drenthe,53.0000,6.5500,53.6333,11.4167,330.581929
19,Zielona Góra,Poland,Lubuskie,51.9397,15.5050,53.6333,11.4167,332.956091